<!-- The homepage layout -->

<!DOCTYPE html>
<html lang="en">


<head>


    <!-- This will reference a bootstrap style sheet for bootstrap styling-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Bootstrap Tutorial Sample Page</title>


  <meta charset="utf-8">


  <meta name="viewport" content="width=device-width, initial-scale=1">


 


</head>


<body style="background-color:rgb(212, 208, 218)">
  <div style="background-color: rgb(157, 84, 199); padding: 5px; margin-top: 0px; text-align: center; ">
    <h1>Back to School 101: Get free shipping when you order online </h1>
  </div>
  <div class="d-flex justify-content-center container-lg"><figure class="snip1527">
    <div class="image"><img src="https://i.imgur.com/sSuJsu8.jpg" alt="pr-sample23" /></div>
    <figcaption>
      <div class="date"><span class="day">03</span><span class="month">Aug</span></div>
      <h3>	
  Switch to one of our all new internet plans</h3>
      <p>Our brand new fast internet plans will allow everyone in the home to stay connected without interruptions. Coming August 3, 2022!
      </p>
    </figcaption>
    <a href="#"></a>
  </figure>
  <figure class="snip1527">
    <div class="image"><img src="https://petapixel.com/assets/uploads/2022/02/Galaxy-S22-lineup-hero-800x534.jpg" alt="pr-sample24"/></div>
    <figcaption>
      <div class="date"><span class="day">17</span><span class="month">Dec</span></div>
      <h3>	
  Get $450 off an all new Samsung Galaxy</h3>
      <p>
  
       Receive $450 off the latest Samsung Galaxy when you sign up for a new plan. Promotion ends December 17, 2022. 
      </p>
    </figcaption>
    <a href="#"></a>
  </figure>
  <figure class="snip1527">
    <div class="image"><img src="https://thumbs.dreamstime.com/b/happy-female-college-students-using-mobile-phone-together-desk-classroom-46899027.jpg" alt="pr-sample25" /></div>
    <figcaption>
      <div class="date"><span class="day">31</span><span class="month">Dec</span></div>
      <h3>Send your child off to college in style</h3>
      <p>
  
        When purchasing any plan, receive a 60GB hotspot at no extra cost when showing your student Id now until Dec 31, 2022. 
      </p>
    </figcaption>
    <a href="#"></a>
  </figure>

  <figure class="snip1527">
    <div class="image"><img src="https://d2yb43jluda82s.cloudfront.net/articles/article_image_time_to_upgrade.jpg" alt="pr-sample25" /></div>
    <figcaption>
      <div class="date"><span class="day">21</span><span class="month">Jan</span></div>
      <h3>It pays to have a plan with Mystic Cellular</h3>
      <p>
  
       Now until January 21, you can upgrade your phone to any make/model for free if your current plan is two years or older.  
      </p>
    </figcaption>
    <a href="#"></a>
  </figure>

  

</div>

<div style="background-color: rgb(207, 93, 133); padding: 5px; margin-top: 0px; text-align: center; ">
  <h1><strong>Check out some of our most popular plans</strong></h1> 
</div>
<!-- Adds some of the phone plans to the homepage -->
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-3">
<div class="card" style="width: 18rem;">
    <div class="card-header"><strong>Featured Plan</strong></div>
    <img class="card-img-top" src="https://png.pngitem.com/pimgs/s/509-5092096_offering-high-quality-mobile-repair-service-main-image.png" alt="mobile phones">
    <div class="card-body">
      <h5 class="card-title">Mystic Unlimited Premium Plan</h5>
      <p class="card-text">$50/mo per line when you get 4 lines</p>
      <h6 class="card-text">Features</h6>
      <h6 class="card-text"> |Unlimited 5G & 4G LTE data| |Unlimited talk, text, & premium data| |BYOD|</h6>
      <h6 class="card-text"> |40GB high-speed mobile hotspot| |Nationwide 5G Coverage| |Advanced scam-blocking protection|</h6>
      <h6 class="card-text"> Device Limit: 6 </h6>
    </div>
   
    <div class="center-button">
        <a href="http://localhost:4200/view" class="btn btn-primary">Choose Plan</a>
    </div>
  </div>


</div>

<div class="col-md-4 mb-3">
  <div class="card" style="width: 18rem;">
    <div class="card-header">Most Popular Family Option</div>
      <img class="card-img-top" src="https://r3.whistleout.com.au/public/images/articles/2019/01/aldi_fam_pack.jpg" alt="Family using mobile devices">
      <div class="card-body">
        <h5 class="card-title">Mystic Unlimited Extra Plan</h5>
        <p class="card-text">$40/mo per line when you get 4 lines</p>
        <h6 class="card-text">Features</h6>
        <h6 class="card-text"> |Unlimited 5G & 4G LTE data| |Unlimited talk, text, data, + 60GB of premium data|</h6>
        <h6 class="card-text"> |40GB high-speed mobile hotspot| |Nationwide 5G Coverage| |Advanced scam-blocking protection|</h6>
        <h6 class="card-text"> Device Limit: 5 </h6>
      </div>
      
      <div class="center-button">
          <a href="http://localhost:4200/view" class="btn btn-primary">Choose Plan</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card" style="width: 18rem;">
      <div class="card-header">Customize for Seniors/Children</div>
        <img class="card-img-top" src="https://oversixtydev.blob.core.windows.net/media/7832830/family-mobile-device.jpg" alt="Family using mobile devices">
        <div class="card-body">
          <h5 class="card-title">Mystic Unlimted Family Plan</h5>
          <p class="card-text">$55/mo per line when you get 4 lines</p>
          <h6 class="card-text">Features</h6>
          <h6 class="card-text"> |Unlimited 5G & 4G LTE data| |Unlimited talk, text, data| |Device & Plan Customization|</h6>
          <h6 class="card-text"> |40GB high-speed mobile hotspot| |Nationwide 5G Coverage| |Advanced scam-blocking protection|</h6>
          <h6 class="card-text"> Device Limit: 7 </h6>
        </div>
        
        <div class="center-button">
            <a href="http://localhost:4200/view" class="btn btn-primary">Choose Plan</a>
        </div>
      </div>
  </div>
  </div>
</div>
<!-- Scripts for Bootstrap Styling -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

</body>
<div>
 

</div> 


</html>
